<h2>Delete User</h2>


<form method="post">
    <input type="text" name="username" placeholder="Username" />
    <input type="submit" value="Delete">
</form>

<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>
